<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <title>Forgot Password</title>
</head>
<body>
    <h1>Forgot Password</h1>
    <form action="/forgot-password" method="POST">
        <input type="email" id="email" placeholder="Email" name="email" required>
        <input type="password" id="newPassword" placeholder="new password" name="newPassword" required>
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>
