<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Upload</h1>
    <form action="/post" method="post" enctype="multipart/form-data">
        <input type="file" name="media" accept="image/*">
        <input type="text" placeholder="Enter caption" name="caption">
        <button>upload</button>
    </form>
</body>
</html>